/*

colors

primary: #e47312
navtext: #414147
white:  #ffffff

*/

/* structural */

body {
	font-family: 'Dosis', sans-serif;
	font-size: 14px;
	background-color: #ffffff;
	margin: 1em;
}

.row {
	display: flex;
}

.column {
	display: flex;
	flex-direction: column;
}

/* other elements */

.space-between {
	justify-content: space-between;
}

#section-one {
	background-image: linear-gradient(76deg, rgba(193, 195, 204, 0.83) 35%, rgba(193, 195, 204, 0.28) 65%), url('https://nuuk-e3eaa.firebaseapp.com/assets/img/slide-2.jpg');
	background-size: cover;
	background-attachment: fixed;
}

a {
	text-decoration: none;
	text-transform: uppercase;
	transition: all 300ms ease;
}

p {
	margin-bottom: 10px;
    color: #919197;
    font-size: 17px;
    line-height: 25px;
}

.no-border {
	border: 0px;
}

#nav-holder {
	justify-content: center;
	margin-top: 1em;
}

#nav-container {
	justify-content: space-between;
	align-content: center;
	width: 90%;
	background-color: #ffffff;
}

#logo_holder {
	background-color: #e47312;
	align-items: center;
}

#logo_link {
	justify-content: center;
	padding: 0.5em 2em;
	position: relative;
	top: 10px;
	background-color: #e47312;
	height: 100%;
}

.nav-item {
	padding: 2em 1em;
	color: #414147;
	font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
}

.nav-item.active {
    color: #e47312;
}

#nav_free_quote_button, #banner_free_quote_button {
	background-color: #e47312;
	color: #fff;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
}

#banner_free_quote_button {
	width: fit-content;
    padding: 15px 25px;
    text-align: center;
    margin-top: 2em;
    z-index: 1;
}

#nav_free_quote_button:hover, #banner_free_quote_button:hover {
	    background-color: #e98a38;
}

#banner {
	justify-content: center;
	margin-top: 1em;
	padding-bottom: 10em;
}

#banner h1 {
	color: #ffffff;
    font-size: 62px;
    line-height: 70px;
    margin-bottom: 0px;
    font-weight: 600;
}

.para-white {
	margin-bottom: 5px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 20px;
    line-height: 26px;
    font-weight: 300;
}

#banner-holder {
	width: 90%;
}

#banner-content {
	max-width: 30%;
	align-content: space-between;
}

#social_buttons {
	justify-content: space-around;
	background-color: #0a1229;
	padding: 10px;
	position: absolute;
    right: 1%;
    z-index: 1;
}

.social-button {
	width: 20px;
	align-items: center;
	padding: 10px;
}

.divider {
	border: 1px solid rgba(255, 255, 255, 0.14);
}

#section-contact {
	position: relative;
	top: -150px;
	margin-bottom: -140px;
}

#contat_bar_holder {
	justify-content: right;
}

#contat_bar {
	width: 80%;
	justify-content: space-around;
	background-color: #e47312;
    background-image: linear-gradient(186deg, #e47312, #ff6361);
	padding: 15px 50px;
}

.contact-card {
	align-content: center;
	align-items: center;
	color: #ffffff;
}

.contact-card i {
	font-size: 20px;
}

.contact-card h4 {
    margin-bottom: 0px;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.contact-card a {
	color: #ffffff;
	font-weight: bold;
	width: fit-content;
	padding-bottom: 4px;
	border-bottom: 2px solid rgba(255, 255, 255, 0);
	margin-top: 1em;
}

.contact-card a:hover {
	border-bottom: 2px solid rgba(255, 255, 255, 1);
}

#services {
	margin-top: 6em;
}

.section_heading {
	margin-bottom: 6em;
}

.section_heading_front {
	margin-top: 0px;
    margin-bottom: 0px;
    font-size: 42px;
    line-height: 50px;
    letter-spacing: 1px;
    text-transform: uppercase;
    z-index: 2;
}

.section_heading_back {
    color: rgba(241, 241, 247, 0.4);
    font-size: 120px;
    letter-spacing: 11px;
    margin-top: 0px;
    margin-bottom: 0px;
    z-index: -1;
}

.section_heading_back_holder {
	position: relative;
	top: -12em;
	margin-bottom: -12em;
}

.section_heading_link {
	color: #919198;
    font-size: 12px;
    letter-spacing: 1px;
    padding-bottom: 2px;
	border-bottom: 2px solid rgba(228, 115, 18, 0);
}

.section_heading_link:hover {
	border-bottom: 2px solid rgba(228, 115, 18, 1);
}

#service_cards {
	justify-content: space-between;
}

.service_card {
	width: 20%;
}

.service_card_image {
	width: 46px;
	height: 46px;
	margin-bottom: 20px;
}

.service_card_title {
	margin-top: 0px;
    font-size: 17px;
    line-height: 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.service_card_text {
	margin-bottom: 20px;
}

.service_card_link {
	padding-bottom: 2px;
	border-bottom: 2px solid rgba(228, 115, 18, 0);
	width: fit-content;
	font-weight: bold;
	color: rgb(145, 145, 152, 1);
}

.service_card_link:hover {
	border-bottom: 2px solid rgba(228, 115, 18, 1);
}